!!!
%html
  %head
    %title Morpher.js - JavaScript morphing library
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = javascript_include_tag "morpher/morpher"
    = yield_content :head
  
  %body{class: body_class}
    = yield
